/**
 * @name Sakuradite
 * @author AZZZERTYY
 * @authorId 196392067281321985
 * @description Cherry discord theme based on the sakuradite color scheme
 * @source https://github.com/azzzertyy/sakuradite
 * @version 1.2
*/

 
 @import url("https://azzzertyy.github.io/sakuradite-bd//sakuradite.css"); 
 
  :root {
    /*Generals, used across the entire theme*/
   --accent: #ff0062;
   --accent-dark: #850033;
   --glow: #ff0062aa;
   --dark1: #121a1d;
   --dark2: #172125;
   --dark3: #1a262b;
   --dark-text: #212b31;
   --light-text: #ffeff5;
   --nitro-gradient: linear-gradient(90deg, rgb(255, 0, 55) 0%, rgb(234, 0, 255) 100%);


   /*Specific editing, if you wish to change any specific part, go ahead.*/
   --titlebar: var(--dark1);
   --channel-icon: var(--accent);
   --bg-server: var(--dark2);
   --bg-button: var(--dark2);
   --bg-button-hover: var(--dark1);
   --bg-toolbar: var(--dark3);
   --bg-search: var(--dark1);
   --bg-search-click: var(--dark1);
   --bg-channel: var(--dark2);
   --bg-channel-name: var(--dark3);
   --bg-unread: var(--dark-text);
   --bg-guild: var(--dark1);
   --bg-embed: var(--dark2);
   --message-box: var(--dark2);
   --reaction: var(--dark3);
   --code: var(--dark3);
   --bg-text-modal: var(--dark3);
   --bg-member: var(--dark2);
   --bg-friend-toolbar: var(--dark3);
   --bg-friends: var(--dark2);
   --bg-friends-search: var(--dark3);
   --bg-friends-list: var(--dark1);
   --bg-friend-selected: var(--accent);
   --bg-activity: var(--dark2);
   --bg-activity-modal: var(--dark1);
   --add-dm: var(--dark3);
   --message-box-addition: var(--dark2);
   --search-modal: var(--dark3);
   --search-modal-header: var(--dark3);
   --search-modal-result: var(--dark1);
   --inbox-header: var(--dark3);
   --inbox-message: var(--dark1);
   --bg-quick: var(--dark2);
   --bg-wtg: var(--dark-text);
   --notifications: var(--dark1);
   --bg-forum: var(--dark1);
   --forum-divider: var(--dark3);
   --forum-card: var(--dark3);
   --forum-tag: var(--dark1);
   --user-modal: var(--dark2);
   --user-badges: var(--dark1);
   --user-connections: var(--dark1);
   --threads: var(--dark1);
   --threads-header:var(--dark3);
   --threads-card: var(--dark3);
   --setting: var(--dark1);
   --setting-sidebar: var(--dark2);
   --setting-user: var(--dark3);
   --tooltip: var(--dark3);
   --bg-role: var(--dark1);
   --bg-picker: var(--dark2);
   --status-danger: var(--dark-text);
   --background-modifier-hover: var(--bg-search);
 }    

 /*Toolbar Button Colors */
 .toolbar-3_r2xA .iconWrapper-2awDjA {
   --interactive-muted: #a09699;
   --interactive-normal: #ffeff5;
   --interactive-hover: var(--accent);
   --interactive-active: var(--accent);
 }
    
 /*Channel Buttons */
 .name-28HaxV {
   --interactive-normal: var(--accent);
   --interactive-muted: #837c7e;
   --interactive-hover: var(--dark-text) !important;
   --interactive-active: var(--dark-text);
 }