/* Better Channel Indicators
Authour: LuckFire#4800
*/

:root {
	/* better channel indicators variables */
	--unread-badge: var(--accent);
	--unread-bg: var(--bg-unread);
	--selected-badge: var(--accent);
	--selected-bg: var(--accent);
	--selected-bg-hover: var(--accent);
	--hovered-bg: var(--accent);
	--bg-rounding: 4px;
	--indicators-border-info: 4px solid;
  
}

.content-1gYQeQ,
.channel-1Shao0 > .layout-1qmrhw {
  background: none !important;
}

.modeSelected-3DmyhH::before,
.modeUnread-3Cxepe::before {
  content: "";
  position: absolute;
  height: 34px;
  top: 0;
}
.channel-1Shao0.selected-1-Z6gm::before {
  content: "";
  position: absolute;
  height: 44px;
  top: 0;
}

.modeSelected-3DmyhH,
.channel-1Shao0.selected-1-Z6gm {
  --channel-icon: var(--dark-text);
  border-radius: var(--bg-rounding);
  //Action buttons on selected channel
  .actionIcon-2sw4Sl {
    color: var(--dark-text);
  }
}
.modeSelected-3DmyhH:hover,
.channel-1Shao0.selected-1-Z6gm:hover {
  background: var(--selected-bg-hover);
}
.modeSelected-3DmyhH::before,
.channel-1Shao0.selected-1-Z6gm::before {
  border-left: var(--indicators-border-info) var(--selected-badge);
}

.content-1gYQeQ,
.channel-1Shao0 > .layout-1qmrhw {
  background: none !important;
}

.modeSelected-3DmyhH::before,
.modeUnread-3Cxepe::before {
  content: "";
  position: absolute;
  height: 34px;
  top: 0;
}
.channel-1Shao0.selected-1-Z6gm::before {
  content: "";
  position: absolute;
  height: 44px;
  top: 0;
}

.modeSelected-3DmyhH,
.channel-1Shao0.selected-1-Z6gm {
  background: var(--selected-bg);
  border-radius: var(--bg-rounding);
  .text-xs-medium-2LRpEj{
    color: var(--dark-text) !important;
  }
}
.modeSelected-3DmyhH:hover,
.channel-1Shao0.selected-1-Z6gm:hover {
  background: var(--selected-bg-hover);
}
.modeSelected-3DmyhH::before,
.channel-1Shao0.selected-1-Z6gm::before {
  border-left: var(--indicators-border-info) var(--selected-badge);
}

.modeUnread-3Cxepe {
  background: var(--forum-card);
  border-radius: var(--bg-rounding);

  .name-28HaxV {
    --interactive-hover: var(--light-text)!important;
    --interactive-active: var(--light-text)!important;
  }

}

.modeUnread-3Cxepe::before {
  border-left: var(--indicators-border-info) var(--unread-badge);
}
.unread-36eUEm {
  display: none;
}

.modeUnread-3Cxepe:hover,
.wrapper-NhbLHG:hover:not(.modeSelected-3DmyhH),
.channel-1Shao0.container-1oeRFJ:hover:not(.selected-1-Z6gm) {
  background: var(--hovered-bg);
  border-radius: var(--bg-rounding);
  //Action buttons on selected channel
  .actionIcon-2sw4Sl {
    color: var(--dark-text);
  }
  .icon-2W8DHg{
    color: var(--dark-text);
  }
  .channelName-3KPsGw {
    color: var(--dark-text);
  }
  .text-xs-medium-2LRpEj{
    color: var(--dark-text) !important;
  }
}

.channel-1Shao0.container-1oeRFJ {
  margin-left: 0;
  max-width: 233px;
}
#private-channels > div > .channel-1Shao0 > div > .avatar-6qzftW {
  margin-left: 4px;
}

