.colorDanger-2YLzLC {
    background-color: var(--accent);
    color: var(--dark-text);
}

.button-1iHNQ2{
    border-color: var(--dark-text) !important;
    color: var(--dark-text) !important;
}

.root-u9h3Ui {
    background: var(--bg-server);
}

.button-3Vyz67, .button-3Vyz67:hover{
    background: var(--accent);
    color: var(--dark-text);
}

.header-1BxQhu{
    color: var(--light-text);
}

.leftTrayIcon-3kMl25{
    background: var(--accent);
    color: var(--dark-text);
}

.colorable-3rVGna.primaryDark-2UJt1G, .colorable-3rVGna.primaryDark-2UJt1G .centerIcon-JYpTUi, .maskBlack-5bor7K,.colorable-3rVGna.primaryDark-2UJt1G:hover {
    background: var(--accent);
    color: var(--dark-text);

}

.colorable-3rVGna.red-3T8maV, .colorable-3rVGna.red-3T8maV .centerIcon-JYpTUi, .colorable-3rVGna.red-3T8maV:hover{
    background: var(--accent);
    color: var(--dark-text);
}

.scroller-2MALzE{
    background: var(--bg-guild);
}

.background-L8lGH6{
    background: var(--bg-server) !important
}

//Emoji picker
.emojiPickerHeader-2mWh2T{
    background: var(--bg-picker);
}

.slotsContainer-3Li39W{
    background: var(--bg-picker);
}

.container-1SX9VC, .inner-1NoIT5{
    background: var(--bg-search);
}

.labelChecked-1RS4Eb{
    background: var(--nitro-gradient);
}

.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background: var(--accent);
    color: var(--dark-text);
}

//Call menu
.wrapper-3Hk9OB{
    background: var(--bg-server);
}

.rtcConnectionStatusConnected-1c73OK, .rtcConnectionStatus-c5A6Av{
    color: var(--accent);
}

.rtcConnectionQualityFine-3zZrSa .pingForeground-1BRBTc{
    color: var(--accent) !important
}

.button-12Fmur.enabled-9OeuTA:hover{
    background: var(--accent);
    color: var(--dark-text);
}

.root-22AK9z{
    background: var(--bg-server);
}

.quickSelectPopoutOption-2E2UmS{
    background: var(--bg-toolbar);
}

.quickSelectPopoutOption-2E2UmS:focus,.quickSelectPopoutOption-2E2UmS:hover{
    background-color: var(--accent) !important;
    .regionSelectName-1Tj9C9{
        color: var(--dark-text) !important;
    }
}

.maskSecondary-2YQ6k5{
    background: var(--accent);
}

.modeConnected-NrO4cP{
    background: var(--accent);
    border-radius: 4px;
    .icon-2W8DHg, .actionIcon-2sw4Sl{
        color: var(--dark-text);
    }
}

.audioControls-3fmemK, .videoControls-2NzHnF{
    background: var(--bg-guild);
}