/*Largely based on Disease's forum redesign, 
Author:Disease#3749*/

.container-3YcgdM {
    background: var(--forum-divider);
}

.divider-AZrXIA {
    background: var(--forum-divider);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background: var(--accent);
    color: var(--dark-text);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background: var(--accent);
    color: var(--dark-text);
}

.buttonInner-3aRbcx{
    background: var(--bg-forum);
    color: var(--light-text)
}

.buttonInner-3aRbcx:hover{
    background: var(--accent);
    color: var(--dark-text)
}

#app-mount .container-3wLKDe,
#app-mount .background-fkKrXt {
    background-color: var(--bg-forum);
}

.mainCard-3KBsBI {
    background-color: var(--forum-card);
    border-radius: 20px;
}

.container-2qVG6q {
    border: none;
}

.matchingPostsRow-2IiEQ1 {
    display: none !important;
}

.container-2qVG6q:hover {
    background-color: var(--forum-card);
}

.mainCard-3KBsBI .heading-lg-medium-3gUJeM,
.mainCard-3KBsBI .heading-lg-normal-1bqh2L {
    font-size: 15px;
    line-height: 18px;
}

.sidebarCard-1Gn1ch {
    background-color: var(--forum-card);
    border: none;

}

.mainCard-3KBsBI.header-1Uy0p6:hover {
    border-color: transparent;
}

.mainCard-3KBsBI form .title-1v5ZfI,
.mainCard-3KBsBI form .title-1v5ZfI::placeholder {
    font-size: 16px;
    line-height: 26px;
}

.mainCard-3KBsBI .pill-3pRQlO {
    background-color: var(--forum-tag);
}

.mainCard-3KBsBI:hover .pill-3pRQlO:hover {
    background-color: var(--accent);
    color: var(--dark-text);
}

.container-2d0jMv,.scroller-1bVxF5{
    background: var(--bg-server);
}

.pill-3pRQlO:hover .defaultColor-24IHKz{
    color: var(--dark-text) !important;
}

.mainCard-3KBsBI .dots-2_b2Mn {
    border-color: transparent;
    background: var(--forum-tag);
}

.pill-3pRQlO {
    background: var(--forum-card);
}
.pill-3pRQlO:hover {
    background: var(--accent) !important;
    .defaultColor-24IHKz {
        color: rgb(0,0,0);
    }
}

.container-2O1UgZ {
    background: var(--forum-card);
    border-color: var(--bg-forum);
    border-width: 5px;
    border-radius: 20px;
    height: 265px;
}

.mainCard-3KBsBI form .title-1v5ZfI, .mainCard-3KBsBI form .title-1v5ZfI::placeholder {
    background: transparent;
}

.tagsButton-4pwOKH{
    background: var(--forum-card);
    .tagsButtonInner-2pvSm1{
        color: var(--accent);
    }
}

.container-3kfp0r{
    background: var(--bg-forum);
}

.tagsButton-4pwOKH:hover{
    background: var(--accent);
    .tagsButtonInner-2pvSm1{
        color: var(--dark-text) !important;
    }
}

.container-2oNtJn, .inner-2pOSmK {
    background: var(--bg-forum);
}

.container-3XgAHv .container-27JV1h .heading-xxl-medium-1hl0GL,
.container-3XgAHv .container-27JV1h .heading-xxl-normal-3zbV4t {
    font-family: var(--font-display);
    font-size: 28px;
    line-height: 32px;
}

.container-3XgAHv .container-27JV1h .iconWrapper-3FqQ75 {
    margin-top: 0;
}

.container-JhuCwn {
    background: var(--forum-card);
}

.option-2eIyOn[aria-selected=true]:not(.option-2eIyOn.multi-1HXDiv){
    background: var(--forum-tag);
}

.popout-1KHNAq {
    background: var(--forum-tag);
}

.pill-3pRQlO.selected-24z1Ou {
    border-color: var(--accent);
}

.tagsContainer-3rSFH5 .tagsButton-2EKn70 .tagsButtonInner-QgpYNg {
    color: var(--accent)
}

.wrapper-2O6Aho, .container-2_J666, .wrapper-2O6Aho:hover{
    background: var(--forum-card) !important;
    border-radius: 20px;
}

.stepContainer-SaPPyG, .stepContainer-SaPPyG:hover{
    background: var(--bg-forum) !important;
}

.optionPill-3_uSHD{
    background: var(--bg-forum);
}

.lookFilled-yCfaCM.colorBrandNew-2-gGsS, .lookFilled-yCfaCM.colorBrandNew-2-gGsS:hover{
    background: var(--accent);
    color: var(--dark-text);
}

.addReactButton-3bSQb6{
    background: var(--bg-forum);
}

.addReactButton-3bSQb6:hover{
    background: var(--accent);
    color: var(--dark-text);
}

.reactionBtn-fVdJIx:hover .icon-fX2J7U{
    color: var(--dark-text) !important;
}

.theme-dark .active-OdlCV-:hover{
    color: var(--dark-text);
}

.theme-dark .container-2qVG6q.isOpen-2OXbFs{
    background: var(--forum-card);
}

.iconWrapper-3FqQ75{
    background: var(--accent);
}

.icon-3gfzEo{
    color: var(--dark-text);
}

.reactionInner-1po5__,.reaction-102jx9{
    background: var(--bg-forum);
    border-radius: 10px;
}

.reaction-102jx9:hover,.reaction-102jx9.reactionMe-2zhiyZ{
    background-color: var(--accent);
    border-color: transparent;
}

.theme-dark .textContentFooter-2JnNv8{
    background: transparent;
}

.container-1PloNW:hover{
    background: var(--forum-card);
}

.contentPreview-3fWiuC{
    border-color: transparent;
}

.countContainer-3DOo5v{
    background: var(--accent);
    .text-xs-medium-2LRpEj:not(.defaultColor-24IHKz){
        color: var(--dark-text) !important;
    }
}

.clear-2gkgln{
    color: var(--accent);
}

.container-3arpDl,.descriptionContainer-2ylKGk{
    background: var(--forum-card);
    border-color: transparent;
}