.scroller-WSmht3 {
    background: var(--bg-friends);
}

.searchBar-3TnChZ {
    background: var(--bg-search);
    border: solid;
    border-width: 0 0 2px 0;
    border-radius: 0px;
    border-color: var(--accent);
    transition: border 0.1s ease-out;
    background: var(--bg-search);
    &:hover {
      background: var(--bg-search-click);
    }
    height: 46px;
}

.searchBarComponent-3N7dCG {
    background: #00000000 !important;
}

.peopleColumn-1wMU14 {
    background: var(--bg-friends-list);
}

.container-1oAagU {
    background: var(--bg-activity);
}

.itemCard-3Etziu {
    background: var(--bg-activity-modal);
}

.container-ZMc96U {
    background: var(--bg-friend-toolbar) !important;
    border: solid;
    border-width: 0 0 2px 0;
    border-radius: 0px;
    border-color: var(--accent);
}


[aria-label="Add Friend"]  {
    background-color: var(--accent) !important;
    color: var(--dark-text) !important;
}

.selected-3veCBZ {
    background: var(--bg-friend-selected);
    color: var(--dark-text);
}
.selected-3veCBZ:hover {
    background: var(--bg-friend-selected);
    color: var(--dark-text);
}

.interactive-1vLZ_I:hover{
    background-color: var(--bg-friend-selected);
    color: var(--dark-text);
}

.section-3G9aLW {
    background: var(--bg-activity);
}

.privateChannels-oVe7HL>.scroller-WSmht3::-webkit-scrollbar{
    background: var(--bg-channel);
    width: 5px !important;
}

.privateChannels-oVe7HL>.scroller-WSmht3::-webkit-scrollbar-thumb{
    background: var(--accent);
}

.inner-2pOSmK{
    background: var(--bg-friends-search);
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: var(--accent);
    color: var(--dark-text);
}
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG:hover {
    background-color: var(--accent);
    color: var(--dark-text);
}

.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP), .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
    background-color: var(--accent);
    color: var(--dark-text);
}

.quickswitcher-pKcM9U {
    background: var(--bg-quick);
}

.input-3r5zZY{
    background: var(--bg-quick);
}
.contentDefault-17ewQQ {
    background: var(--bg-quick);
}

.contentDefault-17ewQQ:hover {
    background: var(--accent);
    color: var(--dark-text);
    .miscContainer-33U-X-{
        color: var(--dark-text);
    }
}
.contentUnread-1_MVDK {
    background: var(--bg-wtg);
    border-left: 5px solid var(--accent);
}

.contentUnread-1_MVDK:hover {
    background: var(--accent);
    color: var(--dark-text);
    
    .miscContainer-33U-X-{
        color: var(--dark-text);
    }
}

.icon-12xJtb {
    color: var(--dark-text);
}

.note-OhIxFa{
    color: var(--dark-text);
}

.header-1zd7se{
    background: var(--add-dm)
}

.root-g14mjS{
    background: var(--add-dm)
}

.inner-1NoIT5 {
    background: var(--search);
}

.friendSelected-3cwmD7 {
    background: var(--accent) !important;
    color: var(--dark-text) !important; 
}