
.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy {
  background-color: var(--accent);
}

.header-145e10 {
  background: var(--inbox-header);
}

.messageContainer-3VTXBC {
  background: var(--inbox-message);
}
.messagesPopout-eVzQcI{
  background: var(--inbox-header);
}
.channelHeader-DFRX8q{
  background: var(--inbox-header);
}

.messages-23can0{
  background: var(--inbox-message);
}

.scroller-145h9c{
  background: var(--inbox-header);
}

.tutorial-Nb3Zz5{
  display: none;
}

.forumPost-3i1mpe{
  background: var(--inbox-message);
}

.messageGroupWrapper-1jf_7C {
  background: var(--inbox-header);
}

.header-1w9Q93 {
  background: var(--inbox-header);
}