//Add server button
.guilds-2JjMmN .circleIcon-3489FI {
  color: var(--accent) !important;
}
//Guild Separator
.guildSeparator-a4uisj {
  background: var(--accent);
}

//Channel List
.container-1NXEtd{
  background: var(--bg-channel);
}

//Channel Name
.container-1-ERn5{
  background: var(--bg-channel-name) !important;
  border: solid;
  border-width: 0 0 2.8px 0;
  border-radius: 0px;
  margin-top: -2.8px;
  border-color: var(--accent);
}

.expandedFolderBackground-1kSAf6 {
  background: var(--bg-channel);
}

.expandedFolderIconWrapper-3RwQpD {
  background: var(--bg-channel);
}

.clickable-28SzVr:hover .layout-1qmrhw {
  background: var(--accent);
  .username-u-ebrn {
    color: var(--dark-text) !important;
  }
}

.selected-1-Z6gm .layout-1qmrhw{
  background: var(--accent);
  .username-u-ebrn {
    color: var(--dark-text) !important;
  }
}

.mention-3XBnnZ {
  background: var(--accent);
  color: var(--dark-text);
}

.layout-1qmrhw {
  background: var(--bg-member);
}

.member-2gU6Ar {
  background: rgba(0,0,0,0);
}

//Toolbar Border
.title-31SJ6t {
 border: solid;
 border-width: 0 0 2px 0;
 border-color: var(--accent); 
}

//Toolbar Background
.title-31SJ6t {
  background: var(--bg-toolbar) !important; 
}

//New Pin color
.iconBadge-3Mmg92 {
  background: var(--accent);
}

//Guild Chat
.chatContent-3KubbW {
  background: var(--bg-guild) !important;
}

.messageContent-2t3eCI {
  color: var(--light-text);
}

code.inline {
  background: var(--accent);
  color: var(--dark-text);
}

code.scrollbarGhostHairline-2LpzZ9 {
  background: var(--code);
}

.botTagCozy-3NTBvK {
  background: var(--accent);
  color: var(--dark-text);
}

.timestamp-6-ptG3 {
  background: var(--accent);
  color: var(--dark-text);
}

.footer-5ji8u1{
  display: none;
}

//Message Box
.scrollableContainer-15eg7h:not(.channelTextAreaInner-2_mflx){
  background-color: var(--message-box);
  border-radius: 30px;
  box-shadow: 0 0 10px 2.5px var(--glow);
}

.replyBar-1oi75v{
  background: transparent;
}

.attachedBars-2BCP3l {
  background: transparent;
}

.mentionButton-3C5YMI {
  color: var(--accent) !important;
}

.closeIcon-1bRhE8 {
  color: var(--accent);
}

.channelTextArea-1FufC0 {
  background: transparent;
}

//Search
.searchBar-jGtisZ {
  border: solid;
  border-width: 0 0 2px 0;
  border-radius: 0px;
  border-color: var(--accent);
  transition: border 0.5s linear;
  background: var(--bg-search);
  &:focus-within {
    background: var(--bg-search-click);
  }
  &:hover {
    background: var(--bg-search-click);
  }
}

.searchFilter-2UfsDk {
  background: var(--accent) !important;
  color: var(--dark-text);
}

.searchAnswer-23w-CH {
  background: var(--accent) !important;
  color: var(--dark-text);
}

//Member list
[aria-label="Members"].content-2a4AW9 {
  background: var(--bg-member);
}

.container-2o3qEW {
  background: var(--bg-member);
}

.members-3WRCEx {
  background: var(--bg-member);
}

//Server List
.scroller-3X7KbA {
  background: var(--bg-server);
}

//Mentioned Highlight color
.mentioned-Tre-dv {
  background: rgba(var(--accent), 0.1) !important;
  &:before {
    background: var(--accent) !important;
  }
  &:hover {
    background: rgba(var(--accent), 0.2) !important;
  }
}
.numberBadge-37OJ3S.base-3IDx3L {
  background-color: var(--accent) !important;
}

//Reply highlight color
.replying-eZ7p5z {
  background: rgba(var(--accent), 0.1) !important;
  &:before {
    background-color: var(--accent) !important;
  }
  &::hover {
    background: rgba(var(--accent), 0.2) !important;
  }
}

//Role color
.role-2TIOKu.flex-3BkGQD:not(.addButton-1_dZYu):not(.actionButton-1YKTU0){
  background: rgb(0,0,0);
}

//Role hover color
.role-2TIOKu.flex-3BkGQD:not(.addButton-1_dZYu):not(.actionButton-1YKTU0):hover {
  background: rgb(255,0,98);
}


//Message buttons color
.buttons-uaqb-5 {
	path {
		fill: rgb(255,0,98)
	}
}

.childWrapper-1j_1ub {
  background: var(--bg-button);
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background: var(--bg-button-hover);
}
.circleIconButton-1VxDrg {
  background: var(--bg-button);
}
.circleIconButton-1VxDrg:hover {
  background:var(--bg-button-hover);
}
.circleIconButton-1VxDrg.selected-2r1Hvo {
  background:var(--bg-button-hover);
}

//Muted Svg
.modeMuted-2T4MDZ .icon-2W8DHg{
  color: var(--glow);
}

//Nitro progress bar
.progressBar-2yl2pi {
  background: var(--nitro-gradient);
}

.container-2giAcK:hover .progressBar-2yl2pi {
  background: var(--nitro-gradient);
}

[aria-label="Image of party popper"]{
  font-size: 0px;
}

#app-mount ::-webkit-scrollbar-track {
  background: transparent;
}

#app-mount ::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}

.grid-1aWVsE {
  background: var(--bg-text-modal);
}

.closeButton-3CiW2j {
  background: var(--accent);
  color: var(--dark-text);
}

.button-1_oXub{
  background: var(--accent);
  color: var(--dark-text);
}


.searchHeader-1r_ZSh {
  background: var(--search-modal-header);
}

.searchResultsWrap-5RVOkx {
  background: var(--search-modal);
}

.searchResult-O9NDji {
  background: var(--search-modal-result);
}

.channelName-3w2Y3c {
  background: var(--search-modal);
  color: var(--accent) !important;
}

.scroller-18M1mG {
  background: var(--message-box-addition);
}

.base-2v-uc0:hover {
  background: var(--accent) !important;
  .text-md-normal-304U3g {
    color: var(--dark-text) !important;
  }
  .icon-nmEpWl {
    color: var(--dark-text);
  }
}

.wrapper-2vIMkT{
  background: var(--accent);
}
.button-3bklZh {
  color: var(--dark-text);
}
.button-3bklZh:hover {
  color: var(--dark-text) !important;
  background: var(--accent) !important;
}

.userPopoutInnerWithoutTheme-3IBtvN{
  background: var(--user-modal);
}

.badgeList-2aoHPw{
  margin-left: -35%;
  margin-top: -5%;
  border-radius: 20px;
  background: var(--user-badges);
}

.topSection-13QKHs {
  background: var(--user-modal) !important;
}

.body-1Ukv50 {
  background: var(--user-modal) !important;
}

.overlayBackground-1KgwVi {
  background: transparent;
}

.bannerSVGWrapper-qc0szY{
  circle {
    cx: 50%;
  }
}

.avatarWrapperNormal-1tQ3Je{
  margin-left: 31.75%;
}

.nickname-2rimyL{
  display: none;
}

.userTagWithNickname-3-znkC  {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  word-break: break-word;
  white-space: normal;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
 
}

.username-3JLfHz {
  color: var(--light-text);
  font-family: "Inter", sans-serif !important;
}

.discrimBase-KriZSj {
  color: var(--light-text);
  font-family: "Inter", sans-serif !important;
}

.customStatus-3Bvsdb {
  margin-top: 20px;
}

.userTagNoNickname-2MJ9HD {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  word-break: break-word;
  white-space: normal;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.avatar-3QF_VA{
  margin-left: 36.25%;
}

.connectedAccountContainer-3aLMHJ {
  background: var(--user-connections);
}

.lookFilled-yCfaCM.colorGreen-3y-Z79{
  background: var(--accent);
  color: var(--dark-text);
}

.scroller-1bVxF5 {
  background: var(--notifications);
}

.colorDefault-CDqZdO.focused-3qFvc8 {
  background: var(--accent);
  color: var(--dark-text);
  .radioSelection-1UHp0b {
    color: var(--dark-text) !important;
  }
  .subtext-2GlkbE{
    color: var(--dark-text);
  }
}
.radioSelection-1UHp0b {
  color: var(--accent) !important;
}

.browser-mnQ1T7 {
  background: var(--threads);
}
.header-3_zmOb{
  background: var(--threads-header);
}
.container-2rzKKA {
  background: var(--threads-card);
  border: 0px;
}
.container-2rzKKA:hover {
  background: var(--accent);
  .message-content-1024705026725269564 {
    color: var(--dark-text) !important;
  } 
}

.perksModalContentWrapper-3RHugb{
  background: var(--bg-guild);
}

.ctaBar-Nhk8yY{
  background: var(--bg-server);
}

.footerSeparator-VzAYwb{
  background: var(--bg-server);
}

.lookFilled-1GseHa.select-1Ia3hD{
  background: transparent;
}
.inputDefault-3FGxgL{
  background: transparent;
}

.imageUploaderInner-IIRaFr{
  background: transparent
}

.userProfileInnerThemedNonPremium-1gT-zY{
  background: var(--user-modal);
}

.communityInfoPill-2Mll66{
  background: var(--accent);
  color: var(--dark-text);
}

.radioBar-3w9XY- {
  background: var(--user-modal);
}

.container-3zZkKh{
  display: none;
}
.inputDefault-3FGxgL{
  background: var(--user-modal);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled{
  background: var(--accent);
}

.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover{
  background: var(--accent);
}

//the loading screen
.wrapper-3HVHpV {
  background: var(--bg-guild);
}

.avatar-l9Txm5{
  background: var(--accent);
}

.cozy-3hKWhq .blob-1uHjdp{
  background: var(--accent);
}

.cozy-3hKWhq.wrapper-15CKyy{
  background: transparent;
}

.attachment-1PZZB2 {
  background: transparent;
}
