//Titlebar
.bg-1QIAus {
  background: var(--titlebar);
}

//Add server button
.guilds-2JjMmN .circleIcon-3489FI {
  color: var(--accent) !important;
}
//Guild Separator
.guildSeparator-a4uisj {
  background: var(--accent);
}

//Channel List
.container-1NXEtd{
  background: var(--bg-channel);
}

//Channel Name
.container-1-ERn5{
  background: var(--bg-channel-name) !important;
  border: solid;
  border-width: 0 0 2.8px 0;
  border-radius: 0px;
  margin-top: -2.8px;
  border-color: var(--accent);
}

//Link Text
.anchor-1MIwyf{
  color: var(--accent);
}

.expandedFolderBackground-1kSAf6 {
  background: var(--bg-channel);
}

.expandedFolderIconWrapper-3RwQpD {
  background: var(--bg-channel);
}

.clickable-28SzVr:hover .layout-1qmrhw {
  background: var(--accent);
  .username-u-ebrn {
    color: var(--dark-text) !important;
  }
}

.selected-1-Z6gm .layout-1qmrhw{
  background: var(--accent);
  .username-u-ebrn {
    color: var(--dark-text) !important;
  }
}

.mention-3XBnnZ {
  background: var(--accent);
  color: var(--dark-text);
}

.layout-1qmrhw {
  background: var(--bg-member);
}

.member-2gU6Ar {
  background: rgba(0,0,0,0);
}

//Toolbar Border
.title-31SJ6t {
 border: solid;
 border-width: 0 0 2px 0;
 border-color: var(--accent); 
}

//Toolbar Background
.title-31SJ6t {
  background: var(--bg-toolbar) !important; 
}

//New Pin color
.iconBadge-3Mmg92 {
  background: var(--accent);
}

//Guild Chat
.chatContent-3KubbW {
  background: var(--bg-guild) !important;
}

.messageContent-2t3eCI {
  color: var(--light-text);
}

code.inline {
  background: var(--accent);
  color: var(--dark-text);
}

code.scrollbarGhostHairline-2LpzZ9 {
  background: var(--code);
}

.botTagCozy-3NTBvK {
  background: var(--accent);
  color: var(--dark-text);
}

.timestamp-6-ptG3 {
  background: var(--accent);
  color: var(--dark-text);
}

.footer-5ji8u1{
  display: none;
}

//Message Box
.scrollableContainer-15eg7h:not(.channelTextAreaInner-2_mflx){
  background-color: var(--message-box);
  border-radius: 30px;
  box-shadow: 0 0 10px 2.5px var(--glow);
}

.replyBar-1oi75v{
  background: transparent;
}

.attachedBars-2BCP3l {
  background: transparent;
}

.mentionButton-3C5YMI {
  color: var(--accent) !important;
}

.closeIcon-1bRhE8 {
  color: var(--accent);
}

.channelTextArea-1FufC0 {
  background: transparent;
}

//Search
.searchBar-jGtisZ {
  border: solid;
  border-width: 0 0 2px 0;
  border-radius: 0px;
  border-color: var(--accent);
  transition: border 0.5s linear;
  background: var(--bg-search);
  &:focus-within {
    background: var(--bg-search-click);
  }
  &:hover {
    background: var(--bg-search-click);
  }
}

.searchFilter-2UfsDk {
  background: var(--accent) !important;
  color: var(--dark-text);
}

.searchAnswer-23w-CH {
  background: var(--accent) !important;
  color: var(--dark-text);
}

//Member list
[aria-label="Members"].content-2a4AW9 {
  background: var(--bg-member);
}

.container-2o3qEW {
  background: var(--bg-member);
}

.members-3WRCEx {
  background: var(--bg-member);
}

//Server List
.scroller-3X7KbA {
  background: var(--bg-server);
}

//Mentioned Highlight color
.mentioned-Tre-dv {
  background: rgba(var(--accent), 0.1) !important;
  &:before {
    background: var(--accent) !important;
  }
  &:hover {
    background: rgba(var(--accent), 0.2) !important;
  }
}
.numberBadge-37OJ3S.base-3IDx3L {
  background-color: var(--accent) !important;
}

//Reply highlight color
.replying-eZ7p5z {
  background: rgba(var(--accent), 0.1) !important;
  &:before {
    background-color: var(--accent) !important;
  }
  &::hover {
    background: rgba(var(--accent), 0.2) !important;
  }
}

//Role color
.role-2TIOKu.flex-3BkGQD:not(.addButton-1_dZYu):not(.actionButton-1YKTU0){
  background: rgb(0,0,0);
}

//Role hover color
.role-2TIOKu.flex-3BkGQD:not(.addButton-1_dZYu):not(.actionButton-1YKTU0):hover {
  background: rgb(255,0,98);
}


//Message buttons color
.buttons-uaqb-5 {
	path {
		fill: rgb(255,0,98)
	}
}

.childWrapper-1j_1ub {
  background: var(--bg-button);
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background: var(--bg-button-hover);
}
.circleIconButton-1VxDrg {
  background: var(--bg-button);
}
.circleIconButton-1VxDrg:hover {
  background:var(--bg-button-hover);
}
.circleIconButton-1VxDrg.selected-2r1Hvo {
  background:var(--bg-button-hover);
}

//Muted Svg
.modeMuted-2T4MDZ .icon-2W8DHg{
  color: var(--glow);
}

//Nitro progress bar
.progressBar-2yl2pi {
  background: var(--nitro-gradient);
}

.container-2giAcK:hover .progressBar-2yl2pi {
  background: var(--nitro-gradient);
}

[aria-label="Image of party popper"]{
  font-size: 0px;
}

#app-mount ::-webkit-scrollbar-track {
  background: transparent;
}

#app-mount ::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}

.grid-1aWVsE {
  background: var(--bg-text-modal);
}

.closeButton-3CiW2j {
  background: var(--accent);
  color: var(--dark-text);
}

.button-1_oXub{
  background: var(--accent);
  color: var(--dark-text);
}


.searchHeader-1r_ZSh {
  background: var(--search-modal-header);
}

.searchResultsWrap-5RVOkx {
  background: var(--search-modal);
}

.searchResult-O9NDji {
  background: var(--search-modal-result);
}

.channelName-3w2Y3c {
  background: var(--search-modal);
  color: var(--accent) !important;
}

.scroller-18M1mG {
  background: var(--message-box-addition);
}

.clickable-2V8YKY[aria-disabled=false]>.base-2v-uc0:hover, .clickable-2V8YKY[aria-selected=true]>.base-2v-uc0 {
  background: var(--accent);
  .title-158kHv, .description-1T7FK8, .source-3HVB4H{
    color: var(--dark-text) !important;
  }
}

.wrapper-2vIMkT{
  background: var(--accent);
}
.button-3bklZh {
  color: var(--dark-text);
}
.button-3bklZh:hover {
  color: var(--dark-text) !important;
  background: var(--accent) !important;
}

.userPopoutInnerWithoutTheme-3IBtvN{
  background: var(--user-modal);
}

.badgeList-2aoHPw{
  margin-left: -35%;
  margin-top: -5%;
  border-radius: 20px;
  background: var(--user-badges);
}

.topSection-13QKHs {
  background: var(--user-modal) !important;
}

.body-1Ukv50 {
  background: var(--user-modal) !important;
}

.overlayBackground-1KgwVi {
  background: transparent;
}

.bannerSVGWrapper-qc0szY{
  circle {
    cx: 50%;
  }
}

.avatarWrapperNormal-1tQ3Je{
  margin-left: 31.75%;
}

.avatar-1YsFQ1{
  margin-left: 36.5%;
}
.nickname-2rimyL{
  display: none;
}

.userTagWithNickname-3-znkC  {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  word-break: break-word;
  white-space: normal;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
 
}

.username-3JLfHz {
  color: var(--light-text);
  font-family: "opendyslexic", sans-serif !important;
}

.discrimBase-KriZSj {
  color: var(--light-text);
  font-family: "opendyslexic", sans-serif !important;
}

.customStatus-3Bvsdb {
  margin-top: 20px;
}

.userTagNoNickname-2MJ9HD {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  word-break: break-word;
  white-space: normal;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.avatar-3QF_VA{
  margin-left: 36.25%;
}

.connectedAccountContainer-3aLMHJ {
  background: var(--user-connections);
}

.lookFilled-yCfaCM.colorGreen-3y-Z79{
  background: var(--accent);
  color: var(--dark-text);
}

.scroller-1bVxF5 {
  background: var(--notifications);
}

.colorDefault-CDqZdO.focused-3qFvc8 {
  background: var(--accent);
  color: var(--dark-text);
  .radioSelection-1UHp0b {
    color: var(--dark-text) !important;
  }
  .subtext-2GlkbE{
    color: var(--dark-text);
  }
}
.radioSelection-1UHp0b {
  color: var(--accent) !important;
}

.browser-mnQ1T7 {
  background: var(--threads);
}
.header-3_zmOb{
  background: var(--threads-header);
}
.container-2rzKKA {
  background: var(--threads-card);
  border: 0px;
}
.container-2rzKKA:hover {
  background: var(--accent);
  .message-content-1024705026725269564 {
    color: var(--dark-text) !important;
  } 
}

.perksModalContentWrapper-3RHugb{
  background: var(--bg-guild);
}

.ctaBar-Nhk8yY{
  background: var(--bg-server);
}

.footerSeparator-VzAYwb{
  background: var(--bg-server);
}

.lookFilled-1GseHa.select-1Ia3hD{
  background: transparent;
}
.inputDefault-3FGxgL{
  background: transparent;
}

.imageUploaderInner-IIRaFr{
  background: transparent
}

.userProfileInnerThemedNonPremium-1gT-zY{
  background: var(--user-modal);
}

.communityInfoPill-2Mll66{
  background: var(--accent);
  color: var(--dark-text);
}

.radioBar-3w9XY- {
  background: var(--user-modal);
}

.container-3zZkKh{
  display: none;
}
.inputDefault-3FGxgL{
  background: var(--user-modal);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled{
  background: var(--accent);
}

.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover{
  background: var(--accent);
}

//the loading screen
.wrapper-3HVHpV {
  background: var(--bg-guild);
}

.avatar-l9Txm5{
  background: var(--accent);
}

.cozy-3hKWhq .blob-1uHjdp{
  background: var(--accent);
}

.cozy-3hKWhq.wrapper-15CKyy{
  background: transparent;
}

.attachment-1PZZB2 {
  background: transparent;
}

//Text embed
.upload-vLbqu-, .uploadContainer-TCg-Ji{
  background: var(--bg-guild);
}

//Delete Message
.colorDanger-3n-KnP, .colorDanger-3n-KnP .checkbox-hADx5o, .colorDanger-3n-KnP .radioSelection-1UHp0b{
  color: var(--accent);
}

//Emoji Reactions
.button-1zW0-r {
  background: var(--bg-embed);
}

//Embeds
.footer-GXWBBp{
  background: var(--bg-embed);
  border: 0px;
}

.textContainer-36wgKK{
  border: 0px;
}

.textContainer-36wgKK{
  background: var(--bg-embed);
}

.modalTextContainer-1FUO2W, .modalTextContainer-1FUO2W {
  background: var(--code);
}

.languageSelector-2e1IuO {
  background: var(--bg-guild);
}

.selected-22ukbQ{
  background: var(--accent);
  color: var(--dark-text);
}

.item-1BCeuB:hover{
  background: var(--accent) !important;
  color: var(--dark-text) !important;
}

.header-3OsQeK{
  background: var(--bg-toolbar);
}
//Date Divider
.divider-2rZFJK, .content-3spvdd, .unreadPill-3nEWYM, .divider-IqmEqJ {
  background: var(--accent);
  color: var(--dark-text);
}

.isUnread-3Lojb-{
  border-color: var(--accent) !important;
}

.unreadPillCapStroke-1nE1Q8{
  color: var(--accent) !important;
  fill: var(--accent) !important;
}

//Audio Embed
.wrapperAudio-1Bzv_Z {
  background: vaR(--bg-embed) !important;
  border: 0px;
}

.mediaBarGrabber-FvJKJg, .mediaBarProgress-38I317, .mediaBarProgress-38I317:after, .mediaBarProgress-38I317:before {
  background: var(--accent);
}

.audioControls-3fmemK{
  background: var(--bg-guild);
}

//Unreads
.unread-2wipsx{
  background: var(--accent);
  color: vaR(--dark-text);
}

//Reactions
.reaction-3vwAF2{
  background: var(--reaction);
  border-radius: 5px;
}

//First Message
.emptyChannelIcon-1YdEz2{
  background-color: var(--accent);
  color: var(--dark-text);
}
.addButtonIcon-3rJeaD{
  color: var(--accent);
}
.addButtonIcon-3rJeaD:hover {
  color: var(--accent);
}

//Tooltips
.theme-dark .tooltip-14MtrL, .theme-light .tooltip-14MtrL {
  background-color: var(--tooltip);
}

.theme-dark .tooltip-14MtrL .tooltipPointer-3L49xb, .theme-light .tooltip-14MtrL .tooltipPointer-3L49xb {
  color: transparent;
}

//Tooltip left of server icon
.item-2LIpTv{
  background: var(--accent);
}

.popoutContainer-2wbmiM,.guildSection-2Zyzy8{
  background: var(--bg-server);
}

.colorBrand-3cPPsm{
  color: var(--accent);
}

.theme-dark .iconBackgroundTierNone-3M21Zn, .theme-dark .iconBackgroundTierOne-1S68CI, .theme-dark .iconBackgroundTierThree-2hfNBO, .theme-dark .iconBackgroundTierTwo-2XoNXD{
  color: var(--accent);
}

.iconTierThree-n2n0gX{
  color: var(--dark-text);
}

.text-md-normal-304U3g, .defaultColor-24IHKz, .defaultColor-HXu-5n, .text-xs-bold-1NF1lz, .sampleLink-5BWNy9{
  color: var(--light-text) !important;
}

.container-x8Y1ix,.rowContainer-3t7486,.inputDefault-3FGxgL,.container-x8Y1ix:hover{
  background: var(--bg-search);
  border-color: transparent;
}

.backButton-2Ps-B8{
  background: var(--accent);
}

.input-2g-os5.focused-1AtTHC, .input-2g-os5:focus{
  border-color: transparent;
  color: var(--light-text);
}

.auto-2K3UW5, .auto-2K3UW5.fade-1R6FHN:hover, .auto-2K3UW5.scrolling-20Of9p{
  background: var(--bg-guild);
}

.theme-dark .card-2TuZPZ, .theme-dark .iconMask-2fMR98{
  background: var(--bg-toolbar);
}

.theme-dark .card-2TuZPZ:hover, .theme-dark .card-2TuZPZ:hover .iconMask-2fMR98, .theme-dark .iconMask-2fMR98:hover, .theme-dark .iconMask-2fMR98:hover .iconMask-2fMR98{
  background: var(--bg-toolbar);
}

.notice-12Koq-{
  background: var(--accent);
  .text-md-normal-304U3g, .defaultColor-24IHKz, .defaultColor-HXu-5n, .text-xs-bold-1NF1lz, .sampleLink-5BWNy9{
    color: var(--dark-text) !important;
  }
}

.lookOutlined-3yKVGo.colorWhite-1H92hK{
  color: var(--dark-text);
  border-color: var(--dark-text);
}

.categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4{
  background: var(--accent);
  color: var(--dark-text);
}

.clickable-28SzVr:hover .layout-1qmrhw{
  .name-3Vmqxm{
    color: var(--dark-text);
  }
  .clickable-28SzVr.container-1oeRFJ:hover, .clickable-28SzVr.container-1oeRFJ:hover .muted-14PyqW{
    color: var(--dark-text) !important;
  }
}

.theme-dark .perk-19D_HN{
  background-color: var(--dark2);
}

.theme-dark .keyboardShortcutsModal-2CRmCm{
  background: var(--bg-guild);
}

.key-N5VmHN, .key-N5VmHN{
  color: var(--dark-text) !important;
  background-color: var(--accent);
  box-shadow: inset 0 -4px 0 var(--accent-dark) !important;
}

.container-3EtAkD{
  background: var(--bg-server)
}

.titleContainer-3fPic2,.header-JUTO-g{
  background: var(--bg-guild);
}

.top-K_jibn .brand-3g5E0C.item-3XjbnG:active, .top-K_jibn .brand-3g5E0C.selected-g-kMVV.item-3XjbnG{
  border-bottom-color: var(--accent);
}

.top-K_jibn .brand-3g5E0C.item-3XjbnG:hover{
  border-bottom-color: var(--accent);
}

[aria-label="Pick a Colour"]{
  background: var(--bg-guild) !important;
}

.warning-RBGtx2,.info-1hMolH{
  background: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
}

.warning-RBGtx2 .icon-2fP4ae,.info-1hMolH .icon-2fP4ae{
  color: var(--accent);
}

.resultsGroup-cfY57t{
  background: var(--bg-toolbar) !important;
}

.option-ayUoaq:hover{
  background: var(--accent);
  .filter-2QaH9y{
    color: var(--dark-text);
  }
}

.option-ayUoaq:hover .answer-14OVbQ, .option-ayUoaq:hover .filter-2QaH9y{
  color: var(--dark-text) !important;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker{
  background: var(--dark1);
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover{
  background: var(--dark1);
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day{
  background: var(--dark1);
  color: var(--accent);
}

.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after{
  background-color: var(--accent);
}

.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--keyboard-selected, .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover, .calendarPicker-sDhzdi .react-datepicker__day:hover{
  background-color: var(--accent);
  color:var(--dark-text);
}

.datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l,.datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l:hover{
  background-color: var(--accent);
  color: var(--dark-text);
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__header{
  background: var(--dark1);
}

.option-ayUoaq .answer-14OVbQ, .option-ayUoaq .filter-2QaH9y, .option-ayUoaq strong{
  color: var(--light-text);
}

.markup-eYLPri a{
  color: var(--accent);
}

.reaction-3vwAF2.reactionMe-1PwQAc{
  background-color:var(--bg-toolbar);
  border-color: var(--accent);
}

.reaction-3vwAF2:hover {
  background-color: var(--bg-toolbar);
  border-color: var(--accent);
}

.content-2M_BlY, .wrapper-2SplAX{
  background: transparent;
}

.scroller-oTbAWP,.submitContainer-1DHMA0{
  background: var(--bg-guild);
}

.iconWrapper-3plkqh{
  background: var(--accent);
}

.icon-382itv{
  color: var(--dark-text);
}

.preview-QJ3OG3,.preview-3k9WhO{
  background: transparent;
  border-color: var(--accent);
}

.previewMessage-2g_aBv{
  background: transparent;
}

.barFill-2Bh7CX{
  background: var(--accent);
}

.defaultValue-19SZ-q .markValue-2U_-UG{
  color: var(--accent);
}

.theme-dark .checkbox-f1HnKB{
  background: var(--accent) !important;
}

.container-2nx-BQ, .input-2XRLou{
  background-color: var(--accent) !important;
}

.userSettingsVoice-1fEtsL .inputSensitivityToggle-KBDP3x.manual-36QrDU .microphone-2RrrW7 .fill-2w_rRE{
  background-color: var(--accent-dark);
}

.bar-1Bhnl9{
  background: var(--accent) !important;
}

.camera-v1e2uN, .cameraWrapper-3a7Ngv{
  background: var(--bg-server);
}

.textBadge-1fdDPJ{
  display: none;
}

.cardWarning-WRe-Qa, .cardWarningOutline-oI6sWf{
  display: none;
}

.icon-1dGlZy{
  color: var(--accent);
}

.avatarUploaderNormal-1h8g3f{
  margin-left: 31%;
}

.buttonColor-1u-3JF{
  background: var(--accent);
  color: var(--dark-text);
}

.noItemsCard-2V85P5, .noItemsCard-5EOcCl,.tryItOutSection-W9qeGH{
  background: transparent;
}

.theme-dark .progress-1S-TDF{
  background: var(--accent);
}

.theme-dark .notches-2w7UZJ.gray-3wP137{
  color: var(--bg-guild);
}

.option-2eIyOn.focused-ODgjnC, .option-2eIyOn:focus, .option-2eIyOn:hover{
  background: var(--dark1);
}

.ddrArrows-24s05s .arrow-hkea5Y{
  display:none;
}

.card-8UsK4b,.card-8UsK4b:hover{
  background: var(--bg-guild);
  border-color: transparent;
}

.eventStatusBrand-3D-ae6{
  color: var(--accent);
}

.contentContainer-BWAau5{
  background: var(--bg-server);
}

.theme-dark .footer-1hTRRZ{
  background: var(--bg-toolbar);
}

.lookOutlined-3yKVGo.colorGreen-3y-Z79{
  color: var(--accent);
  border-color: var(--accent);
}

.lookFilled-yCfaCM.colorGreen-3y-Z79:hover,.lookOutlined-3yKVGo.colorGreen-3y-Z79:active{
  background: var(--accent);
  color: var(--dark-text);
  border-color: var(--accent);
}

.theme-dark .inviteRow-3vmB7i:hover{
  background: transparent;
}

.upsellContainer-TwfTaF{
  display: none;
}

.px-MnE_OR.botTag-7aX5WZ{
  background: var(--accent);
  color: var(--dark-text);
}

.theme-dark .inviteBannerUpsell-1t_LYM{
  display: none;
}

.text-xs-medium-2LRpEj:not(.defaultColor-24IHKz){
  color: var(--accent) !important;
}

.barButtonMain-2GIx4o, .span-3lFnWr,.barButtonAlt-TQoCdZ{
  background: var(--accent);
  color: var(--dark-text);
}

.colorDefault-CDqZdO .checkbox-hADx5o, .colorDefault-CDqZdO .radioSelection-1UHp0b{
  color: var(--accent);
}

.colorDefault-CDqZdO .check-3HZJs4, .colorDefault-CDqZdO.focused-3qFvc8{
  color: var(--dark-text);
}

.activeThreadsList-12IFYm,.header-3cSJjT{
  background: var(--bg-guild);
}

.developerPortalCtaWrapper-2PniQs{
  background: transparent;
}

.analyticsCard-2fnrVG,.featureCard-3XHbjy,.welcomeChannel-_Q4qAA,.ctaContent-3uw8O1,.howItWorksCard-2OKoVI,.howItWorksImageContainer-3ZJ-AE,.earningBenefitCard--EbFd8,.followerBenefitCard-3l5J5o, .revenueShareBenefitCard-2o-5vE,.guildCard-3JHk9F{
  background: var(--bg-server);
}

.description-30xx7u, .labelDescriptor-34wZ-z{
  display:none;
}

.featureIcon-2sTnDK,.subscriberCountText-2chwJx{
  background: var(--accent);
}

.subscriberCountText-2chwJx, .subscriberCountValue-2fmd33{
  background: var(--accent)
}

.previewContainer-29oeA6,.enableContainer-H2cRts,.howItWorksContainer-2zbci6{
  background: var(--bg-guild);
}

.lookFilled-yCfaCM.colorWhite-1H92hK{
  background: var(--accent);
}

.waitlistCtaButtonText-1WahEI{
   color: var(--dark-text) !important;   
}

.waitlist-3g7w1i{
  background: transparent;
  border-color: var(--accent);
}

.brownMessageBlock-r5H96c .messageBlockIcon-a_xAgW{
  color: var(--accent);
}

.serverBoostTabItem-3QwA3W[aria-selected=true]{
  background-color: var(--accent) !important;
  color: var(--dark-text) !important;
}

.theme-dark .tierBody-1d3UiS,.tierHeaderContent-2SPBAA{
  background: var(--bg-server);
}

.tierUnlocked-ziudxO{
  background: var(--nitro-gradient);
}

.foreground-3_3Pgi,.theme-dark .tierAccomplished-1I5NaT, .theme-dark .tierCurrent-2nowYi, .theme-dark .tierFirst-1Vn3wS, .theme-light .tierAccomplished-1I5NaT, .theme-light .tierCurrent-2nowYi, .theme-light .tierFirst-1Vn3wS{
  color: var(--accent);
  background: var(--accent);
}

.tierIcon-3m8V16{
  color: var(--accent);
}

.tier0Card-1Wqd5R,.tier0Container-3pQqp9,.wrapper-2-Da9H{
  display: none;
}

.upsellFooter-3M1V33,.upsellContent-10YytV,.mainContainer-yxgti4, .ruleIconContainer-dXW56-,.editCard-K9Q9mb:before,.actionContainer-2krsiT,.upsellFooter-3M1V33, .upsellContent-10YytV, .mainContainer-yxgti4, .ruleIconContainer-dXW56-, .editCard-K9Q9mb:before, .actionContainer-2krsiT, .statusYellow-2nYnVP,.backgroundModifierContainer-WjXgb2,.containerPadding-3Ok3MG,.spacingContainer-sjbG_-+.spacingContainer-sjbG_-,.verificationContainer-3qb1n0,.wrapper-24fR1R,.wrapper-24fR1R:focus-within, .wrapper-24fR1R:hover{
  background: var(--bg-server);
}