.scroller-2GkvCq, .inspector-DFKXwB, .categoryHeader-OpJ1Ly, .wrapper-22rqw6, .header-1ULbqO,.animatedPicker-IdiG5I,.packHeader-w9jpYl,.contentWrapper-3vHNP2{
    background: var(--bg-server) !important;
}

.list-3V14yy, .reactorDefault-3GSyaV, .wrapper-1wwiGV, .wrapper-1wwiGV:hover, .selected-3B2w1z, .selected-3B2w1z:hover, .list-2u03C-{
    background: var(--bg-toolbar);
}

.theme-dark .container-KM8BU6, .theme-dark .reactors-1VXca7{
    background: var(--bg-toolbar);
}

.guildIcon-2SUGiq{
    background: transparent
}

.emojiItemMedium-2stgkv:hover, .emojiItemMedium-2stgkv{
    background: transparent !important;
}
.stickerInspected-mwnU6w .inspectedIndicator-27zwNZ{
    background: var(--accent);
}

.theme-dark .categoryFadeBlurple-1l49_Q, .theme-light .categoryFadeBlurple-1l49_Q{
    background-color: var(--glow);
}
.gifFavoriteButton-2IttKp.selected-7JJuv5{
    color: var(--accent);
}

.gifFavoriteButton-2IttKp:focus, .gifFavoriteButton-2IttKp:hover, .icon-1m_PLf{
    color: var(--accent);
}

.theme-dark .categoryFadeBlurple-1l49_Q:hover, .theme-light .categoryFadeBlurple-1l49_Q:hover{
    background-color: var(--accent);
}

.navButtonActive-1EqC5l, .navButtonActive-1EqC5l:hover{
    background: var(--accent);
    color: var(--dark-text);
}

.header-11eigE{
    background: var(--bg-server);
}

.standardStickerShortcut-ObSns3{
    display: none;
}

.premiumCategorySelected-2KWLhN, .premiumCategorySelected-2KWLhN:hover, .stickerCategoryGenericSelected-DnO2K8, .stickerCategoryGenericSelected-DnO2K8:hover,.stickerCategoryGeneric-29JiZ2:hover{
    background: transparent;
}