.sidebarRegionScroller-FXiQOh{
    background: var(--setting-sidebar);
}
.contentRegionScroller-2_GT_N{
    background: var(--setting);
}
.accountProfileCard-lbN7n-{
    background: var(--setting-user);
}
.background-3d_SjE {
    background: transparent;
}
.fieldList-in8WkP {
    background: transparent;
}
.userSettingsSecurity-2kODPN .isEnabled-20V6lG{
    color: var(--accent);
}
.lockIcon-3t6Ow0{
    display: none;
}
.lookFilled-yCfaCM.colorRed-rQXKgM {
    background: var(--accent);
    color: var(--dark-text);
}

.lookFilled-yCfaCM.colorRed-rQXKgM:hover {
    background: var(--accent);
    color: var(--dark-text);
}

.lookOutlined-3yKVGo.colorRed-rQXKgM{
    border-color: var(--accent);
}

.lookOutlined-3yKVGo.colorRed-rQXKgM:hover{
    background: var(--accent);
    color: var(--dark-text);
}

.formNotice-2nS8ey{
    display: none;
}

.selectedBackground-1t6xXq{
    background: var(--accent);
}

.selected-2Uns2B{
    color: var(--dark-text);
}

.lookFilled-yCfaCM.colorPrimary-2AuQVo{
    background: var(--accent);
    color: var(--dark-text);
}

.lookFilled-yCfaCM.colorPrimary-2AuQVoL:hover{
    background: var(--accent) !important;
    color: var(--dark-text) !important;
}

.connectContainer-1hylYM{
    background: var(--setting-user);
}

.connectionHeader-Ixbb1s{
    background: var(--setting-user);
}

.connectionOptionsWrapper-3aVWcp{
    background:var(--setting-user);
}

.card-2xlCYc{
    background: var(--setting-user);
}

.gemIndicatorProgressCircle-Wb8Ju8{
    color: var(--accent);
}

.gemWithLabel-9XSuaB{
    color: var(--accent);
}

.bd-addon-list .bd-addon-header{
    background: var(--setting-user);
}

.bd-addon-list .bd-addon-card{
    background: var(--setting-user);
}

.bd-link{
    color: var(--accent) !important;
}

.bd-controls>.bd-addon-button:first-of-type{
    background: var(--accent);
}
.bd-controls>.bd-addon-button:last-of-type{
    background: var(--accent);

}

.bd-controls>.bd-addon-button svg{
    fill:var(--dark-text) !important;
}

.bd-button{
    background: var(--accent);
    color: var(--dark-text);
}

.bd-addon-views .bd-view-button.selected{
    background: var(--accent);
}

.bd-addon-views .bd-view-button.selected svg{
    fill: var(--dark-text);
}